Source: grml-feedback
Section: utils
Priority: extra
Maintainer: Grml Team <team@grml.org>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: asciidoc, docbook-xsl, xsltproc
Standards-Version: 3.9.2
Homepage: http://git.grml.org/?p=grml-feedback.git
Vcs-git: https://github.com/grml/grml-feedback.git
Vcs-Browser: https://github.com/grml/grml-feedback
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-feedback
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, grml-etc-core
Suggests: grml-quickconfig
Description: Script to easily give feedback to GRML, provides
 menu entry for grml-quickconfig.
